.container {
    margin-top: 12px;
    padding-top: 6rem;
    display: flex;
    background: #f6f6f6;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    /* box-sizing:border-box; */
  }
  
  